{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <p>Utilisateur : {{ user.username }}</p>
        <p>
            Role actuel :
            {% for role in user.roles %}
                {{ role }}
            {% endfor %}
        </p>
        <div class="well ">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

            {# Génération manuelle et éclatée : #}
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.roles, "role de l'utilisateur : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.roles) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
            {{ form_widget(form.save, {'label': 'Enregistrer', 'attr': {'class': 'btn btn-primary'}}) }}

            {# Génération automatique des champs pas encore écrits. #}
            {{ form_rest(form) }}

            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
