{% extends 'base.html.twig' %}

{% block stylesheets %}<link href="{{ asset('css/lostPassword.css') }}" rel="stylesheet">{% endblock %}

{% block header %}
    <header>
        <div class="jumbotron-lostPassword vertical-center">
            <img class="logo-mobile" src="{{ asset('img/logo-pour-mobile.png') }}" alt="logo-nao-mobile">
        </div>
        <div class="nao-header-align-left">
            <div class="nao-header nao-header-faq">
                <p class="nao-header-size1">Nao</p>
                <p class="nao-header-size2">Nos Amis les Oiseaux</p>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Mot de passe oublié</h3>
        {% for message in app.flashes('lostPasswordError') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}
        {% for message in app.flashes('lostPasswordSuccess') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}


        {# formulaire pour les réponses à un commentaire #}
        {{ form_start(form) }}
        <div>
            {{ form_errors(form) }}
            {{ form_errors(form.email) }}
        </div>
        {{ form_widget(form.email) }}<br/>

        {{ form_widget(form.save,{'label': 'Réinitialiser', 'attr':{'class': 'btn btn-primary'}}) }}<br/>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/menu.js') }}"></script>
{% endblock %}
