<div class="modal fade" id="modifyObservationModal{{ observation.id }}" tabindex="-1" role="dialog" aria-labelledby="modifyObservationModal{{ observation.id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyObservationModal{{ observation.id }}Label">Modification de l'observation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="{{ asset('img/dashboard/btn-close.png') }}" alt="close"></span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(modifyObservationForm, {'attr': {'class': 'form-horizontal'}}) }}

                {{ form_errors(modifyObservationForm) }}
                <div>
                    {{ form_errors(modifyObservationForm.photoPath) }}
                    {{ form_errors(modifyObservationForm.observationDescription) }}
                </div>
                {% if modifyObservationForm.vars.value.photoPath == null %}
                    <p>Vous n'avez chargé aucune photo lors de la création de votre observation</p>
                {% else %}
                    <div>
                        <img style="width: 100%" src="{{ asset(modifyObservationForm.vars.value.photoPath) }}"
                             alt="{% if not observation.species == null%}
                                        {{ observation.species.referenceName }}
                                    {% else %}
                                        Espèce inconnue
                                    {% endif %}
                                ">
                    </div>
                {% endif %}
                <div class="photo">
                    {{ form_label(modifyObservationForm.photoPath) }}
                    <div class="col-sm-12">
                        {{ form_widget(modifyObservationForm.photoPath) }}
                    </div>
                </div>
                <div id="commentaire" class="form-group">
                    {{ form_label(modifyObservationForm.observationDescription) }}
                    <div>
                        {{ form_widget(modifyObservationForm.observationDescription) }}
                    </div>
                </div>
                <div class="alert alert-warning">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Vous ne pourrez modifier l'observation qu'une seule fois
                </div>
                <div class="modal-footer">
                    {{ form_widget(modifyObservationForm.save, {'label': 'Modifier', 'attr': {'class': 'btn btn-default'}}) }}
                </div>

                {{ form_end(modifyObservationForm) }}
            </div>
        </div>
    </div>
</div>