{% if observation.validate is same as(true) %}
    <a href="" data-toggle="modal" data-target="#statusDetail{{ loop.index }}"><P> Validée</P><i  class="fa fa-check" aria-hidden="true"></i></a>

    <div class="modal fade" id="statusDetail{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="statusDetail{{ loop.index }}Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="statusDetail{{ loop.index }}Label">Statut de l'observation validée</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="{{ asset('img/dashboard/btn-close.png') }}" alt="close"></span>
                    </button>
                </div>
                <div class="modal-body status text-left">
                    <h6>Votre observation a été validée, voici le commentaire du naturaliste</h6>
                    {% if observation.validationComment != null %}
                        <div class="border">
                            <p>{{ observation.validationComment }}</p>
                        </div>
                    {% else %}
                        <div class="border">
                            <p>Le validateur n'a laissé aucun commentaire.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% elseif observation.validate is same as(false) %}
    <a href="" data-toggle="modal" data-target="#statusDetail{{ loop.index }}"><p>Refusée</p><i class="fa fa-times" aria-hidden="true"></i></a>

    <div class="modal fade" id="statusDetail{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Statut de l'observation refusée</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="{{ asset('img/dashboard/btn-close.png') }}" alt="close"></span>
                    </button>
                </div>
                <div class="modal-body status text-left">
                    <h6>Votre observation a été refusée, voici le commentaire du naturaliste</h6>
                    {% if observation.validationComment != null %}
                        <div class="border">
                            <p>{{ observation.validationComment }}</p>
                        </div>
                    {% else %}
                        <div class="border">
                            <p>Le validateur n'a laissé aucun commentaire.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% elseif observation.validate is same as(null) %}
    <a href="" data-toggle="modal" data-target="#statusDetail{{ loop.index }}"><p>En attente  </p><i class="fa fa-coffee" aria-hidden="true"></i></a>

    <div class="modal fade" id="statusDetail{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Statut de l'observation en attente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="{{ asset('img/dashboard/btn-close.png') }}" alt="close"></span>
                    </button>
                </div>
                <div class="modal-body status text-left">
                    <div class="border">
                        <p>Votre observation n'a pas encore été traitée, veuillez patienter.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
