{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/error.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header>
        <div class="jumbotron-error403 vertical-center">
            <img class="logo-mobile" src="{{ asset('img/logo-pour-mobile.png') }}" alt="logo-nao-mobile">
            <div class="container">
                {#<img src="{{ asset('img/error/erreur404.gif') }}" alt="error404">#}
            </div>
        </div>
        <div class="nao-header-align-left">
            <div class="nao-header">
                <p class="nao-header-size1">Nao</p>
                <p class="nao-header-size2">Nos Amis les Oiseaux</p>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <div class="container text-center alert alert-danger">
        <h1>Accès non autorisé</h1>

        {% if exception.message == 'Compte desactivé' %}
            <h2>Compte désactivé</h2>
            <p>Ce compte a été désactivé par l'administrateur. pour en savoir plus, <a href="{{ path('homepage', {'_fragment': 'contact'}) }}">contactez nous</a></p>
            <p>ou <a class="btn-connexion-modal" href="{{ path("login") }}" data-toggle="modal" data-target="#connexionModal">connectez vous avec un autre compte</a></p>
        {% else %}
            <h2>Vous ne pouvez pas accéder à cette page.</h2>
        {% endif %}
    <p class="text-center"><a href="{{ path('homepage') }}">Retour à l'accueil</a></p>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/menu.js') }}"></script>
{% endblock %}