{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/error.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header>
        <div class="jumbotron-error vertical-center">
            <img class="logo-mobile" src="{{ asset('img/logo-pour-mobile.png') }}" alt="logo-nao-mobile">
            <div class="container">
                {#<img src="{{ asset('img/error/erreur404.gif') }}" alt="error404">#}
            </div>
        </div>
        <div class="nao-header-align-left">
            <div class="nao-header">
                <p class="nao-header-size1">Nao</p>
                <p class="nao-header-size2">Nos Amis les Oiseaux</p>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <div class="container text-center alert alert-danger">
        <h1>Oups ! Une erreur est survenue !</h1>
        <h2>Le serveur a retourné l'erreur suivante :</h2>
        <h2>"{{ status_code }} {{ status_text }}".</h2>
        <h3>Message d'erreur : {{ exception.message }}</h3>
        <p>
            Veuillez nous excuser pour la gêne occasionnée. Si le problème persiste, n'hesitez pas à nous contacter pour nous signaler cette erreur.
        </p>
        <p class="text-center"><a href="{{ path('homepage') }}">Retour à l'accueil</a></p>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/menu.js') }}"></script>
{% endblock %}