{{ form_start(editFaqForm, {'attr': {'class': 'form-horizontal'}}) }}

{{ form_errors(editFaqForm) }}

<div class="form-group">
    {{ form_label(editFaqForm.question, "Question", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_errors(editFaqForm.question) }}
    <div class="col-sm-12">
        {{ form_widget(editFaqForm.question, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(editFaqForm.answer, "Réponse", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_errors(editFaqForm.answer) }}
    <div class="col-sm-12">
        {{ form_widget(editFaqForm.answer, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
{{ form_widget(editFaqForm.save, {'attr': {'class': 'btn btn-primary'}}) }}

{{ form_end(editFaqForm) }}