{# ajout d'une question/reponse #}

    <div class="mx-auto" id="flashMsgFaq">
    </div>

    <div class="mx-auto">
        <a class="btn btn-primary btn-add-faq" href="{{ path('new-faq') }}">Ajouter une question</a>
    </div>

<div class="pagination-table-faq">
    <div class="table-responsive-vertical shadow-z-1">
        <table class="table table-hover table-mc-default table-faq">
            <thead>
                <tr>
                    <td>Question</td>
                    <td>Réponse</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
            {% for faq in paginationFaq %}
                <tr class="table-line-faq">
                    <td data-title="Question">
                        {{ faq.question |slice(0, 50) }}
                    </td>
                    <td data-title="Réponse">
                        {{ faq.answer |slice(0, 50)}}
                    </td>
                    <td data-title="Actions">
                        <a href="{{ path('edit-faq', {'faqId': faq.id}) }}" id="btnEditFaq{{ faq.id }}" class="btn-edit-faq" data-toggle="modal" data-target="#editFaqModal{{ faq.id }}">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>

                        /
                        <a href="#" data-toggle="modal" data-target="#rmFaqModal{{ faq.id }}">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                        <div class="modal fade" id="rmFaqModal{{ faq.id }}" tabindex="-1" role="dialog" aria-labelledby="rmFaqModal{{ faq.id }}Label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="rmFaqModal{{ faq.id }}Label">confirmation de suppression</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Voulez vous vraiment supprimer la question "{{ faq.question }}" ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
                                        <a href="{{ path('remove-faq',{'faqId': faq.id }) }}" class="btn btn-primary btn-rm-faq" data-dismiss="modal">OUI</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {# div englobant le paginator et contenant la route à prendre pour la requete Ajax de pagination#}
    <div id="paginationFaq" url="{{ path('pagination_faq') }}">
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(paginationFaq) }}
        </div>
    </div>
</div>
