<div class="pagination-table-observations-validation">
    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-hover table-mc-default">
            <thead>
            <tr>
                <th>Détails</th>
                <th>Espèce observée</th>
                <th>Date d'observation</th>
                <th>Photo</th>
            </tr>
            </thead>
            <tbody>
            {% for observation in observations %}
                <tr>
                    <td datatype="Détails"><a href="{{ path('observation-detail', {'id' : observation.id }) }}"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                    <td datatype="Espèces observées">
                        {% if observation.species != null %}
                        {{ observation.species.referenceName }}</td>
                    {% else %}
                        Espece inconnu
                    {% endif %}
                    <td datatype="Date d'observation">{{ observation.observationDate|date('d/m/Y') }}</td>
                    <td datatype="Photo">
                        {% if observation.photoPath == null %}
                            <div><p>non</p><i class="fa fa-times" aria-hidden="true"></i></div>
                        {% else %}
                            <a href="" data-toggle="modal" data-target="#photoModal{{ loop.index }}"><p>Oui</p><i class="fa fa-camera" aria-hidden="true"></i></a>
                            <div class="modal fade" id="photoModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class=modal-content">
                                        <img style="max-width: 800px; margin-left: auto; margin-right: auto"
                                             src="{{ asset(observation.photoPath) }}"
                                             alt="{% if observation.species != null %}{{ observation.species.vernacularName }} {% else %}Espece inconnu{% endif %}">
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {# div englobant le paginator et contenant la route à prendre pour la requete Ajax de pagination#}
    <div id="paginationObservationsValidation" url="{{ path('pagination_observations_validation') }}" class="row">
        {# display navigation #}
        <div class="navigation mx-auto">
            {{ knp_pagination_render(observations) }}
        </div>
    </div>
</div>
