<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}NAO{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="{{ asset('css/agency.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/table.css') }}" rel="stylesheet">
        <link href="{{ asset('css/comment.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{{ path("homepage") }}">Nos Amis les Oiseaux</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path("homepage") }}">Accueil</a>
                        </li>
                        {% if not is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ path("login") }}">connexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <div class="btn-group">
                                    <a class="nav-link js-scroll-trigger" href="{{ path("dashboard") }}">Dashboard</a>
                                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path("blog") }}">Blog</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Observations
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path("rechercheObservations") }}">Recherche d'observations</a>
                                <a class="dropdown-item" href="{{ path("saisieObservation") }}">Saisir une observation</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path("avanceeRecherche") }}">La recherche</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header class="masthead">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">Programme de recherche scientifique</div>
                    <div class="intro-heading">Devenez un scientifique citoyen en participant à l'observation des oiseaux</div>
                    <a class="btn btn-xl js-scroll-trigger" href="{{ path("landingPage") }}">Participer</a>
                </div>
            </div>
        </header>
        <div id="content" class="container">
            {% block body %}{% endblock %}
        </div>
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="mx-auto">
                        <a class="btn btn-primary" href="{{ path('faq') }}">FAQ</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Your Website 2017</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li class="list-inline-item">
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>



        <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="{{ asset('js/agency.min.js') }}"></script>
        <script src="{{ asset('js/table.js') }}"></script>
        <script src="{{asset('tinyMCE/jquery.tinymce.min.js')}}"></script>
        <script src="{{asset('tinyMCE/tinymce.js')}}"></script>
        <script src="{{asset('js/custom.js')}}"></script>

        {#Custom scripts for the website#}
        <script src="{{ asset('js/blog/comments.js') }}"></script>
        <script src="{{ asset('js/faq/faq.js') }}"></script>
        <script src="{{ asset('js/myAccount/myAccount.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
