<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}NAO{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('css/layout.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>

    <body id="page-top">

        {% include 'layout/menu.html.twig' %}

        {% block header %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% include 'layout/footer.html.twig' %}


        <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

        {#Custom scripts for the website#}
        <script src="{{asset('SideBarTest/jquery.sidebar.min.js')}}"></script>
        <script src="{{ asset('js/myAccount/myAccount.js') }}"></script>
        <script src="{{ asset('js/userManagement/userManagement.js') }}"></script>
        <script src="{{ asset('js/Observations/myObservations.js') }}"></script>
        <script src="{{ asset('js/connexion/connexion.js') }}"></script>


        {% block javascripts %}{% endblock %}

    </body>
</html>

