<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}NAO{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('css/layout.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>

    <body id="page-top">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path("homepage") }}"><img src="{{ asset('img/logo-pour-nav.png') }}" /></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path("homepage") }}">Accueil</a></li>
                        {% if not is_granted('ROLE_USER') %}
                            <li><a href ="{{ path("login") }}">connexion</a></li>
                        {% else %}
                            <li><a href="{{ path("dashboard") }}">Dashboard</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('logout') }}">Deconnexion</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li><a href="{{ path("blog") }}">Blog</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Observations   <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path("rechercheObservations") }}">Recherche d'observations</a></li>
                                <li><a href="{{ path("saisieObservation") }}">Saisir une observation</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path("avanceeRecherche") }}">Avancée de la recherche</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header class="jumbotron vertical-center">
            <div class="container">
                <h1>Programme de recherche scientifique</h1>
                <p>Devenez un scientifique citoyen en participant à l'observation des oiseaux</p>
                <a class="btn btn-default btn-lg" href="{{ path("landingPage") }}">Participer</a>
            </div>
        </header>
        <div id="content" class="container">
            {% block body %}{% endblock %}
        </div>
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Your Website 2017</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li class="list-inline-item">
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>



        <!-- Bootstrap core JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        {#Custom scripts for the website#}
        <script src="{{ asset('js/blog/comments.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>

