<div class="container-fluid">
    <div class="formulaire">
            {{ form_start(createObservationForm) }}
            {{ form_errors(createObservationForm) }}

        <span class="custom-dropdown" style="margin-bottom: 10px">
            {{ form_row(createObservationForm.species )}}
        </span>

        <span class="custom-dropdown">
            {{ form_row(createObservationForm.vernacularName) }}<br/>
        </span>

        <div class="birdNumber">
            <span class="label-space">
                {{ form_label(createObservationForm.birdNumber) }}
            </span>

            <span class="custom-spinner">
                {{ form_widget(createObservationForm.birdNumber) }}<br/>
                {{ form_errors(createObservationForm.birdNumber) }}
            </span>
        </div>

        <div class="eggsNumber">
            <span class="label-space">
                {{ form_label(createObservationForm.eggsNumber) }}
            </span>
            <span class="custom-spinner">
                {{ form_widget(createObservationForm.eggsNumber) }}<br/>
                {{ form_errors(createObservationForm.eggsNumber) }}
            </span>
        </div>
        {{ form_label(createObservationForm.eggsDescription) }}
        {{ form_widget(createObservationForm.eggsDescription) }}<br/>
        {{ form_errors(createObservationForm.eggsDescription) }}

        <div id="map" style="width: 100%; height: 250px"></div>

        <a type="button" class="btn-default btn" id="geoloc">Géolocaliser</a>

        {{ form_label(createObservationForm.latitude) }}
        {{ form_widget(createObservationForm.latitude) }}<br/>
        {{ form_errors(createObservationForm.latitude) }}

        {{ form_label(createObservationForm.longitude) }}
        {{ form_widget(createObservationForm.longitude) }}<br/>
        {{ form_errors(createObservationForm.longitude) }}

        {{ form_label(createObservationForm.altitude) }}
        {{ form_widget(createObservationForm.altitude) }}<br/>
        {{ form_errors(createObservationForm.altitude) }}

        {{ form_label(createObservationForm.observationDescription) }}
        {{ form_widget(createObservationForm.observationDescription) }}<br/>
        {{ form_errors(createObservationForm.observationDescription) }}

        <div class="photo">
        {{ form_label(createObservationForm.photoPath) }}
        {{ form_widget(createObservationForm.photoPath) }}<br/>
        {{ form_errors(createObservationForm.photoPath) }}
        </div>

        {{ form_widget(createObservationForm.Envoyer) }}

        {{ form_rest(createObservationForm) }}

        {{ form_end(createObservationForm) }}
    </div>
</div>
