{% extends 'base.html.twig' %}

{% block header %}
    <header>
        <div class="jumbotron-addObservation vertical-center">
            <div class="container">
                {#<h1>Avancée de la recherche</h1>#}
                {#<p>Devenez un scientifique citoyen en participant à l'observation des oiseaux</p>#}
            </div>
        </div>
    </header>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/addObservation.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="addObservation-sidebar">
            <div class="contentAddObservation">
                <div class="d-flex justify-content-start">
                    <p class="presSideBars">Saisissez votre observation</p>
                    <p id="closeAddObs" class="closeSideBar ml-auto close"><img src="{{ asset('img/dashboard/btn-close.png') }}" alt="close"></p>
                </div>
                <div class="formulaire">
                    {{ form_start(createObservationForm) }}

                    {% if not createObservationForm.vars.valid %}
                        <div class="alert alert-danger formError">
                            {{ form_errors(createObservationForm) }}
                            {{ form_errors(createObservationForm.species )}}
                            {{ form_errors(createObservationForm.vernacularName) }}
                            {{ form_errors(createObservationForm.birdNumber) }}
                            {{ form_errors(createObservationForm.eggsNumber) }}
                            {{ form_errors(createObservationForm.eggsDescription) }}
                            {{ form_errors(createObservationForm.latitude) }}
                            {{ form_errors(createObservationForm.longitude) }}
                            {{ form_errors(createObservationForm.altitude) }}
                            {{ form_errors(createObservationForm.observationDescription) }}
                            {{ form_errors(createObservationForm.photoPath) }}
                        </div>
                    {% endif %}

                    <span class="custom-dropdown" style="margin-bottom: 10px">
                        {{ form_label(createObservationForm.species )}}
                        {{ form_widget(createObservationForm.species )}}
                    </span>

                    <span class="custom-dropdown">
                        {{ form_label(createObservationForm.vernacularName) }}<br/>
                        {{ form_widget(createObservationForm.vernacularName) }}<br/>
                    </span>

                    <div class="birdNumber">
                        <span class="label-space">
                            {{ form_label(createObservationForm.birdNumber) }}
                        </span>

                        <span class="custom-spinner">
                            {{ form_widget(createObservationForm.birdNumber) }}<br/>
                        </span>
                    </div>

                    <div class="eggsNumber">
                        <span class="label-space">
                            {{ form_label(createObservationForm.eggsNumber) }}
                        </span>
                        <span class="custom-spinner">
                            {{ form_widget(createObservationForm.eggsNumber) }}<br/>
                        </span>
                    </div>
                    {{ form_label(createObservationForm.eggsDescription) }}
                    {{ form_widget(createObservationForm.eggsDescription) }}<br/>

                    <a type="button" class="btn-default btn" id="geoloc">Géolocaliser</a>

                    {{ form_label(createObservationForm.latitude) }}
                    {{ form_widget(createObservationForm.latitude) }}<br/>

                    {{ form_label(createObservationForm.longitude) }}
                    {{ form_widget(createObservationForm.longitude) }}<br/>

                    {{ form_label(createObservationForm.altitude) }}
                    {{ form_widget(createObservationForm.altitude) }}<br/>

                    {{ form_label(createObservationForm.observationDescription) }}
                    {{ form_widget(createObservationForm.observationDescription) }}<br/>

                    <div class="photo">
                        {{ form_label(createObservationForm.photoPath) }}
                        {{ form_widget(createObservationForm.photoPath) }}<br/>
                    </div>

                    {{ form_widget(createObservationForm.Envoyer) }}

                    {{ form_rest(createObservationForm) }}

                    {{ form_end(createObservationForm) }}
                </div>
            </div>
        </div>

    </div>
        </div>

        <div id="map"></div>

        <div id="controls">
            <a class="btn btn-dark" id="triggerAdd">Saisir une observation</a>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {

            if ($(window).width() < 992) {

                $('.addObservation-sidebar').sidebar({side: "bottom"});

                $('#closeAddObs').click(function () {
                    $(".addObservation-sidebar").trigger("sidebar:close");
                });

                $('#triggerAdd').click(function () {
                    $(".addObservation-sidebar").trigger("sidebar:toggle");
                });

            } else {

                $('.addObservation-sidebar').sidebar();

                $('#closeAddObs').click(function () {
                    $(".addObservation-sidebar").trigger("sidebar:close");
                });

                $('#triggerAdd').click(function () {
                    $(".addObservation-sidebar").trigger("sidebar:toggle");
                });
            }
        });

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 46.6, lng: 1.9},
                zoom: 4,
                disableDefaultUI: true,
                zoomControl: true,

            });

            var infoWindow = new google.maps.InfoWindow;
            var control = document.getElementById('controls');
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);

            document.getElementById('geoloc').addEventListener('click', function(e) {
                infoWindow.open(map);

                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };

                        document.getElementById('create_observation_latitude').value = position.coords.latitude;
                        document.getElementById('create_observation_longitude').value = position.coords.longitude;


                        infoWindow.setPosition(pos);
                        infoWindow.setContent('Vous êtes ici');

                        map.setCenter(pos);

                    }, function() {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            })
        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Erreur : Impossible de vous localiser, vous pouvez entrer manuellement les coordonnées de votre observation.' :
                'Erreur : Votre navigateur ne supporte pas la géolocalisation, veuillez entrer manuellement les coordonnées GPS de votre observation');
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNQR3Hw_y1urMSouzdoaVgUESayHjM90g&&callback=initMap" async defer></script>
    <script src="{{ asset('js/observation/observation.js') }}"></script>
    <script src="{{ asset('js/menu.js') }}"></script>
{% endblock %}
