{% extends 'base_integration.html.twig' %}

{% block stylesheets %}<link href="{{ asset('css/faq.css') }}" rel="stylesheet">{% endblock %}

{% block title %}
    FAQ - {{ parent() }}
{% endblock %}

{% block header %}
    <header>
        <div class="jumbotron-index vertical-center">
            <img class="logo-mobile" src="{{ asset('img/logo-pour-mobile.png') }}" alt="logo-nao-mobile">
            <div class="container">
                <h1>FAQ</h1>
            </div>
        </div>
        <div class="nao-header-align-left">
            <div class="nao-header nao-header-faq">
                <p class="nao-header-size1">Nao</p>
                <p class="nao-header-size2">Nos Amis les Oiseaux</p>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    {% for item in faq %}
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">
                    {{ item.question }}
                </h3>
                <div class="card-text">
                    {{ item.answer }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/menu.js') }}"></script>
{% endblock %}