{% extends 'base.html.twig' %}

{% block stylesheets %}<link href="{{ asset('css/index.css') }}" rel="stylesheet">{% endblock %}

{% block header %}
    <header>
        <div id="desktop">
            <div  class="jumbotron-index object-fit__container object-fit__container--large">
                <video autoplay loop muted>
                <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
                <source src="{{ asset('img/cinémagraphe-page-accueil-Nao-2.mp4') }}" type="video/mp4">
                </video>
                <div id="text">
                    <h1>Programme de recherche scientifique</h1>
                    <p>Devenez un scientifique citoyen en participant à l'observation des oiseaux</p>
                    <a class="btn-info button-participer" href="{{ path("landingPageFinale") }}">Participer</a>
                </div>
            </div>
            <div class="nao-header-align-left">
                <div class="nao-header">
                    <p class="nao-header-size1">Nao</p>
                    <p class="nao-header-size2">Nos Amis les Oiseaux</p>
                </div>
            </div>
        </div>
        <div id="mobile">
            <div class="jumbotron-index vertical-center">
                <img class="logo-mobile" src="{{ asset('img/logo-pour-mobile.png') }}" alt="logo-nao-mobile">
                <div class="container">
                    <h1>Programme de recherche scientifique</h1>
                    <p>Devenez un scientifique citoyen en participant à l'observation des oiseaux</p>
                    <a class="btn-info button-participer" href="{{ path("landingPageFinale") }}">Participer</a>
                </div>
            </div>
            <div class="nao-header-align-left">
                <div class="nao-header">
                    <p class="nao-header-size1">Nao</p>
                    <p class="nao-header-size2">Nos Amis les Oiseaux</p>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block body %}
    <!-- Infos -->
    <div class="container-body">
        <section class="infos">
             <div class="space">
                 <img src="{{ asset('img/index/icone-oiseau.png') }}" alt="oiseau"/>
                 <div class ="position">
                     <h3>+ de 280 espèces</h3>
                     <p>
                         C’est le nombre d’espèces d’oiseaux qui vivent sur le territoire Français incluant les DOM-TOM.
                         Une richesse pour la biodiversi-té qu’il faut préserver pour les générations futures.
                     </p>
                 </div>
             </div>
            <div class="space">
                <img src="{{ asset('img/index/icone-alert.png') }}" alt="alerte" />
                <div class="position">
                    <h3>10% disparaissent</h3>
                    <p>
                        Hélas de nombreuses espèces sont menacées de disparitions.
                        Chez NAO la protection des oiseaux est une priorité.
                    </p>
                </div>
            </div>
            <div class="space">
                <img src="{{ asset('img/index/icone-sauvegarder.png') }}" alt="sauvegarder" />
                <div class="position">
                    <h3>Sauvegarder</h3>
                    <p>
                        Pour cela, notre association NOA a décidé de lancer une étude scientifique d’envergure afin
                        d’étudier les effets du climats et l’impact des activités humaines sur la biodiversité.
                    </p>
                </div>
            </div>
        </section>


    <!-- Articles -->

        <section class="articles">
            <div class="container-fluid">
                <div class="row d-flex align-items-center justify-content-around">
                    <div class="col-md-6 padding-0">
                        <div class="content-iphone"> <img class="img-fluid" src="{{ asset('img/index/Bien-choisir-son-oiseau.jpg') }}" alt="oiseau-coloré">
                            <!--i class="fa fa-play play red-gradient"></i-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-content">
                            <h3>Nos actions</h3>
                            <p>
                                Afin d’assurer la protection des oiseaux et la préservation de la biodiversité,
                                notre association d’ornithologie lance un pro-gramme de recherche à l’échelle nationale
                                incluant les DOM-TOM.
                                Avec nos partenaires comme la LPO nous menons également des actions d’information,
                                de formation et de sensibilisation tout au long de l’année.

                            </p>
                            <a class="btn btn-info button" href="{{ path("avanceeRecherche") }}">Voir plus</a>
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-center justify-content-around">
                    <div class="col-md-5 order">
                        <div class="single-content">
                            <h3>Le programme de recherche</h3>
                            <p>
                                Il vise à étudier les effets du climat, de l’urbanisation et de l’agriculture sur la biodiversité.
                                Ornithologues professionnels ou amateurs, naturaliste, amou-reux de la nature …
                                C’est de vos observations sur le terrain que dépendent la qualité et l’impact du programme sur la protec-tion des oiseaux.

                            </p>
                            <a class="btn btn-info button" href="{{ path("landingPage1") }}">Voir plus</a>
                        </div>
                    </div>
                    <div class="col-md-5 padding-0 order">
                        <div class="content-iphone">
                            <img class="img-fluid" src="{{ asset('img/index/Les-principales-maladies-des-oiseaux.jpg') }}" alt="perroquet">
                            <!--i class="fa fa-play play red-gradient"></i-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Section compteur -->

    <section class="animation">

        <canvas id="canv">
        </canvas>
            <div class="sky">
                <div class="clouds">
                   <div class="c1 one"></div>
                   <div class="c1 two"></div>
                   <div class="c1 three"></div>
                   <div class="c1 four"></div>
                   <div class="c2 one"></div>
                   <div class="c2 two"></div>
                   <div class="c2 three"></div>
                   <div class="c2 four"></div>
                </div>
            </div>
            <div class="compteur">
                <div class="index-line"><p class ="size37">+{{ users|length }}</p><p class="size20">Membres</p></div>
                <div class="index-line"><p class ="size37">+{{ observations|length }}</p><p class="size20">Observations</p></div>
                <div class="index-line"><p class ="size37">+{{ differentSpeciesObservations }}</p><p class="size20">Espèces observées</p></div>
            </div>
    </section>
    <div class="compteur-mobile">
        <div class="index-line"><p class ="size37">+{{ users|length }}</p><p class="size20">Membres</p></div>
        <div class="index-line"><p class ="size37">+{{ observations|length }}</p><p class="size20">Observations</p></div>
        <div class="index-line"><p class ="size37">+{{ differentSpeciesObservations }}</p><p class="size20">Espèces observées</p></div>
    </div>



    <!-- Section Contact -->

    <section id="contact" class="contact">
        <div class="formulaire">
            <h2>Nous contacter</h2>
            {{ form_start(contactForm) }}

            {{ form_widget(contactForm.nom) }}<br/>
            {{ form_errors(contactForm.nom) }}

            {{ form_widget(contactForm.prenom) }}<br/>
            {{ form_errors(contactForm.prenom) }}

            {{ form_widget(contactForm.email) }}<br/>
            {{ form_errors(contactForm.email) }}

            {{ form_widget(contactForm.sujet) }}<br/>
            {{ form_errors(contactForm.sujet) }}

            {{ form_widget(contactForm.message) }}<br/>
            {{ form_errors(contactForm.message) }}

            {{ form_widget(contactForm.save, { 'label': 'Envoyer' }) }}

            {{ form_rest(contactForm) }}

            {{ form_end(contactForm) }}
        </div>

        <div class="coordonnées">
            <h4>Contact & Infos</h4>
            <div><i class="fa fa-phone-square" aria-hidden="true"></i><p>01 75 72 15 18</p></div>
            <div><i class="fa fa-home" aria-hidden="true"></i><p>5 rue des pardrix, 75002 Paris</p></div>
            <div><i class="fa fa-envelope" aria-hidden="true"></i><p>infos@nao.org</p></div>

            <h4 class="spaceh4">Réseaux sociaux</h4>

            <div class="center">
                <a href="#"><i class="fa fa-facebook-square"></i></a>
                <a href="#"><i class="fa fa-twitter-square"></i></a>
                <a href="#"><i class="fa fa-pinterest-square"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/index.js') }}"></script>
    <script src="{{ asset('js/menuIndex.js') }}"></script>
{% endblock %}
