{% extends 'base.html.twig' %}

{% block body %}
    <h2>landing page</h2>

    <h3>Connexion</h3>
    {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu
    <form action="{{ path('login_check') }}" method="post">
        <label for="email">Email :</label>
        <input type="text" id="email" name="_email" />

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password" />
        <br />
        <input type="submit" value="Connexion" />
    </form>
    #}
    <a href="{{ path('login') }}">Se connecter</a>

    <h3>Inscription</h3>
    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        {# Génération du label + error + widget pour un champ. #}
        <div class="form-group">
            {{ form_row(form.name) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            {{ form_row(form.proPermission) }}
            {{ form_row(form.newsletter) }}
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
           et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>
{% endblock %}