{% extends 'base_integration.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/searchObservations.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header>
        <div class="jumbotron-searchObservation vertical-center">
            <div class="container">
                {#<h1>Avancée de la recherche</h1>#}
                {#<p>Devenez un scientifique citoyen en participant à l'observation des oiseaux</p>#}
            </div>
        </div>
        <div class="nao-header-align-left">
            <div class="nao-header">
                <p class="nao-header-size1">Nao</p>
                <p class="nao-header-size2">Nos Amis les Oiseaux</p>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    {% for message in app.session.flashbag.get('notice') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-fluid">
        <div class="research-sidebar">
            <div class="contentResearch">
                <div class="d-flex justify-content-start">
                    <p class="presSideBars">Recherche d'une observation</p>
                    <p id="closeResearch" class="closeSideBar ml-auto close"><img src="{{ asset('img/dashboard/btn-close.png') }}" alt="close"></p>
                </div>
                <div class="formulaire">
                    {{ form_start(searchObservationForm) }}
                    {{ form_errors(searchObservationForm) }}

                    <span class="custom-dropdown">
                        {{ form_label(searchObservationForm.vernacular) }}
                        {{ form_widget(searchObservationForm.vernacular) }}
                    </span>

                    <a href="" class="btn btn-default" data-toggle="collapse" data-target='#advancedResearch'>recherche avancée</a>

                    <br>
                    <div id="advancedResearch" class="collapse">
                        <span class="custom-dropdown">
                            {{ form_label(searchObservationForm.reference) }}
                            {{ form_widget(searchObservationForm.reference) }}
                        </span>

                        <span class="custom-dropdown">
                            {{ form_label(searchObservationForm.type) }}
                            {{ form_widget(searchObservationForm.type) }}
                        </span>

                        <span class="custom-dropdown">
                        {{ form_label(searchObservationForm.family) }}
                        {{ form_widget(searchObservationForm.family) }}
                        </span>

                        <span>
                        {{ form_label(searchObservationForm.begin) }}
                        {{ form_widget(searchObservationForm.begin) }}
                        </span>
                        <span>
                        {{ form_label(searchObservationForm.end) }}
                        {{ form_widget(searchObservationForm.end) }}
                        </span>
                    </div>
                    <div class="d-flex justify-content-center" style="margin-top: 10px">
                        {{ form_widget(searchObservationForm.Rechercher) }}
                        {{ form_end(searchObservationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="result-sidebar">
        <div class="contentSideBarResult">
            <div id="resultsCounter" class="d-flex justify-content-start">
                <p class="presSideBars">Details de la recherche : 0 resultat</p>
                <p id="closeResult" class="closeSideBar ml-auto close"><img src="{{ asset('img/dashboard/btn-close.png') }}" alt="close"></p>
            </div>
            <div class="contentResult">
                <div class="table-responsive-vertical shadow-z-1">
                    <table id="resultsNoMaps" class="table table-hover table-mc-default">
                    </table>
                </div>
            </div>
            <div class="d-flex justify-content-start">
                <img class="ml-auto logoResultResearch" src="{{ asset('img/research_observations/logo-resultat-de-recherche.png') }}" alt="resultat">
            </div>
        </div>
    </div>

    <div id="map"></div>

    <div id="controls">
        <a class="btn btn-dark" id="triggerResearch">Recherche</a>
        <a class="btn btn-dark" id="triggerResult">Détails des résultats</a>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            if ($(window).width() < 992) {

                $('.research-sidebar').sidebar({side: "bottom"});

                $('.result-sidebar').sidebar({side: "bottom"});

                $('#closeResult').click(function() {
                    $(".result-sidebar").trigger("sidebar:close");
                });

                $('#closeResearch').click(function() {
                    $(".research-sidebar").trigger("sidebar:close");
                });

                $('#triggerResearch').click(function() {
                    $(".research-sidebar").trigger("sidebar:toggle");
                });

                $('#triggerResult').click(function() {
                    $(".result-sidebar").trigger("sidebar:toggle");
                });

            } else {

                $('.research-sidebar').sidebar();

                {% if app.session.get('nbResults') > 0 %}
                    $(".result-sidebar").sidebar().trigger('sidebar:open');
                {% else %}
                    $(".result-sidebar").sidebar();
                {% endif %}

                $('#closeResult').click(function() {
                    $(".result-sidebar").trigger("sidebar:close");
                });

                $('#closeResearch').click(function() {
                    $(".research-sidebar").trigger("sidebar:close");
                });

                $('#triggerResearch').click(function() {
                    $(".research-sidebar").trigger("sidebar:toggle");
                });

                $('#triggerResult').click(function() {
                    $(".result-sidebar").trigger("sidebar:toggle");
                });
            }
        });

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: new google.maps.LatLng(46.6, 1.9),
                mapTypeId: 'roadmap',
                zoomControl: 1,
                disableDefaultUI: true
            });

            var infoWindow = new google.maps.InfoWindow;

            map.controls[google.maps.ControlPosition.TOP_CENTER].push(document.getElementById('controls'));

            var icons = {
                bird: {
                    icon: '{{ asset('img/marqueur.png') }}'
                }
            };

            downloadUrl("{{ asset('markers/markers.xml') }}", function(data) {
                var xml = data.responseXML;
                var markers = xml.documentElement.getElementsByTagName('marker');
                var markerArray = [];
                var i= 0;
                var nest;
                Array.prototype.forEach.call(markers, function(markerElem) {
                    var user = markerElem.getAttribute('user');
                    var date = markerElem.getAttribute('date');
                    var referenceName = markerElem.getAttribute('reference');
                    var vernacularName = markerElem.getAttribute('vernacular');
                    var birdNumber = markerElem.getAttribute('birdNumber');
                    var eggsNumber = markerElem.getAttribute('eggsNumber');
                    var photo = markerElem.getAttribute('photo');
                    var type = markerElem.getAttribute('type');
                    var point = new google.maps.LatLng(
                        parseFloat(markerElem.getAttribute('lat')),
                        parseFloat(markerElem.getAttribute('lng')));

                    if (eggsNumber === '' || eggsNumber === 0) {
                        nest = 'Non';
                        eggsNumber = 'Aucun';
                    } else {
                        nest = 'Oui';
                    }

                    if(user !== null) {
                        // Transmission des resultats en dehors de la map
                        i++;
                        // Compteur de resultat
                        var counter = document.getElementById('resultsCounter');

                        if(i > 1) {
                            counter.innerHTML =
                                '<p>Détails de la recherche : '+ i +' résultats</p>'+
                                '<p id="closeResult" class="closeSideBar ml-auto close"><img src="{{ asset('img/dashboard/btn-close.png') }}" alt="close"></i></p>';
                        } else {
                            counter.innerHTML =
                                '<p>Détails de la recherche : '+ i +' résultat</p>'+
                                '<p id="closeResult" class="closeSideBar ml-auto close"><img src="{{ asset('img/dashboard/btn-close.png') }}" alt="close"></i></p>';
                        }

                        // Création de la liste des resultat
                        var table = document.getElementById('resultsNoMaps');
                        table.innerHTML +=
                            '<tr >\n' +
                            '<td data-title="Espèce observée"><img class="iconResults" src="{{ asset('img/research_observations/icon-maps-results.png')}}" alt="Icone de resultat"> '+ referenceName +'</td>\n' +
                            '<td data-title="Date d\'observation">'+ date +'</td>\n' +
                            '<td data-title="Aussi observée">+31</td>\n' +
                            '</tr>';
                    }

                    var infowincontent =
                        '<img src="../'+ photo +'" alt="'+ referenceName +'" style="margin-left: auto; margin-right: auto; height: 150px; border: 1px solid black;">' +
                        '<div style="padding: 10px;">\n' +
                        '<h5 style="margin-top: 0; text-align: center;">'+ referenceName +'</h5>' +
                        '<p style="color: black">Nom Commun : '+ vernacularName +'</p>' +
                        '<p style="color: black">Nombre : '+ birdNumber +'</p>' +
                        '<p style="color: black">Nid(s) : '+ nest +'</p>' +
                        '<p style="color: black">Oeuf(s) : '+ eggsNumber +'</p>' +
                        '<p style="color: black">Observé par : '+ user +' le '+ date +'</p>' +
                        '</div>';

                    var icon = icons[type].icon || {};
                    var marker;
                    {% if not is_granted('ROLE_PROFESSIONAL') %}
                        marker = new google.maps.Circle({
                            strokeColor: '#FF0000',
                            strokeOpacity: 0.35,
                            strokeWeight: 2,
                            fillColor: '#FF0000',
                            fillOpacity: 0.35,
                            map: map,
                            center: point,
                            radius: 10000
                        });
                    {% else %}
                        marker = new google.maps.Marker({
                            map: map,
                            position: point,
                            icon: icon,
                            label: icon.label
                        });

                        markerArray.push(marker);

                        marker.addListener('click', function() {
                            infoWindow.setContent(infowincontent);
                            infoWindow.open(map, marker);
                        });


                    {% endif %}
                });
            });
        }

        function downloadUrl(url, callback) {
            var request = window.ActiveXObject ?
                new ActiveXObject('Microsoft.XMLHTTP') :
                new XMLHttpRequest;

            request.onreadystatechange = function() {
                if (request.readyState === 4) {
                    request.onreadystatechange = doNothing;
                    callback(request, request.status);
                }
            };

            request.open('GET', url, true);
            request.send(null);
        }

        function doNothing() {}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNQR3Hw_y1urMSouzdoaVgUESayHjM90g&&callback=initMap" async defer></script>
    <script src="{{ asset('js/menu.js') }}"></script>
{% endblock %}
