{% extends 'base_integration.html.twig' %}

{% block stylesheets %}
    <style>

        /* Responsive */

        @media (max-width: 992px) {
            /* Maps */
            #map {
                height: 600px;
                width: 100%;
            }

            /* Recherche */

            .research-sidebar {
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0;
                height: 100%;
                z-index: 1031;
                width: 100%;
            }

            .contentResearch {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                border: none;
                border-radius: 0;
                height: 100%;
                margin-right: 0;
                margin-top: 0;
                margin-left: 0;
            }

            /* Résultat de recherche */

            .result-sidebar {
                position: fixed;
                z-index: 1031;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }

            .contentSideBarResult {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                border: none;
                border-radius: 0;
                height: 100%;
                margin-right: 0;
                margin-top: 0;
                margin-left: 0;
            }

            .contentResult {
                margin-left: 20px;
                height: 80%;
                width: 85%;
            }

            .logoResultResearch {
                display: none;
            }

        }

        @media (min-width: 992px) {
            /* Maps */
            #map {
                height: 1000px;
                width: 100%;
            }

            /* Recherche */

            .research-sidebar {
                position: absolute;
                z-index: 2;
                top: 750px;
                left: 0;
                bottom: 0;
                width: 40%;
            }

            .contentResearch {
                -webkit-box-shadow: 6px 8px 14px 0 rgba(48,48,48,1);
                -moz-box-shadow: 6px 8px 14px 0 rgba(48,48,48,1);
                box-shadow: 6px 8px 14px 0 rgba(48,48,48,1);
                border: 1px solid lightgray;
                border-radius: 10px;
                margin-right: 15px;
                margin-top: 25px;
                margin-left: 3px;
            }

            /* Résultat de recherche */

            .result-sidebar {
                position: absolute;
                z-index: 2;
                top: 1350px;
                left: 0;
                bottom: 0;
                width: 50%;
            }

            .contentSideBarResult {
                margin-right: 15px;
                border-radius: 10px;
                border: 1px solid lightgray;
                -webkit-box-shadow: 6px 8px 14px 0 rgba(48,48,48,1);
                -moz-box-shadow: 6px 8px 14px 0 rgba(48,48,48,1);
                box-shadow: 6px 8px 14px 0 rgba(48,48,48,1);
                margin-left: 3px;
                height: 350px;
                padding: 10px;
            }

            .contentResult {
                height: 75%;
            }
        }
        
        @media (min-width: 1100px) and (max-width: 1160px) {
            .research-sidebar {
                top: 725px;
            }

            .result-sidebar {
                top: 1325px;
            }
        }

        @media (min-width: 1060px) and (max-width: 1100px) {
            .research-sidebar {
                top: 700px;
                width: 50%;
            }

            .result-sidebar {
                top: 1300px;
                width: 60%;
            }
        }

        @media (min-width: 1010px) and (max-width: 1060px) {
            .research-sidebar {
                top: 675px;
                width: 50%;
            }

            .result-sidebar {
                top: 1275px;
                width: 60%;
            }
        }

        @media (min-width: 992px) and (max-width: 1010px) {
            .research-sidebar {
                top: 660px;
            }

            .result-sidebar {
                top: 1260px;
            }
        }


        /* Global */
        .container-fluid {
            padding: 0;
        }

        .searchBTN {
            margin-top: 10px;
        }

        #controls {
            color: white;
            background-color: white;
            border-radius: 0 0 10px 10px;
            -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
            -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
            padding: 10px;
        }

        .presSideBars {
            font-family: 'Small Font Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: #fff;
            margin-left: 25px;
            margin-bottom: 10px;
            font-size: 20px;
            text-shadow: 0 0 2px rgba(0, 0, 0, 1);
            text-transform: uppercase;
        }

        .closeSideBar {
            margin-top: 3px;
            cursor: pointer;
        }

        /* Recherche */

        .contentResearch {
            background-color: white;
            min-height: 150px;
            padding: 10px;
        }


        /* Résultat de la recherche */


        .contentSideBarResult {
            background-color: white;
            padding: 10px;
        }

        .contentResult {
            background-color: white;
            -webkit-box-shadow: inset 0 0 10px -1px rgba(48,48,48,1);
            -moz-box-shadow: inset 0 0 10px -1px rgba(48,48,48,1);
            box-shadow: inset 0 0 10px -1px rgba(48,48,48,1);
            padding: 10px;
            overflow: auto;
        }

        .iconResults {
            height: 20px;
        }

        .logoResultResearch {
            margin-top: 6px;
            height: 40px;
        }

    </style>
{% endblock %}

{% block header %}
    <header>
        <div class="jumbotron-blog vertical-center">
            <div class="container-fluid">
                <img class="img-fluid" src="{{ asset('img/blog/image-du-blog.jpg') }}">
            </div>
        </div>
        <div class="nao-header-align-left">
            <div class="nao-header">
                <p class="nao-header-size1">Nao</p>
                <p class="nao-header-size2">Nos Amis les Oiseaux</p>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    {% for message in app.session.flashbag.get('notice') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-fluid">
        <div class="research-sidebar">
            <div class="contentResearch">
                <div class="d-flex justify-content-start">
                    <p class="presSideBars">Recherche d'une observation</p>
                    <p id="closeResearch" class="closeSideBar ml-auto close">&times;</p>
                </div>
                <div>
                    {{ form_start(searchObservationForm) }}
                    {{ form_errors(searchObservationForm) }}

                    {{ form_label(searchObservationForm.vernacular) }}
                    {{ form_widget(searchObservationForm.vernacular) }}
                    <a href="" class="ml-auto" data-toggle="collapse" data-target='#advancedResearch'>recherche avancée</a>

                    <br>
                    <div id="advancedResearch" class="collapse">
                        {{ form_label(searchObservationForm.reference) }}
                        {{ form_widget(searchObservationForm.reference) }}

                        {{ form_label(searchObservationForm.type) }}
                        {{ form_widget(searchObservationForm.type) }}

                        {{ form_label(searchObservationForm.family) }}
                        {{ form_widget(searchObservationForm.family) }}

                        {{ form_label(searchObservationForm.begin) }}
                        {{ form_widget(searchObservationForm.begin) }}

                        {{ form_label(searchObservationForm.end) }}
                        {{ form_widget(searchObservationForm.end) }}

                    </div>
                    <div class="d-flex justify-content-start">
                        <div class="ml-auto searchBTN">
                            {{ form_widget(searchObservationForm.Rechercher) }}
                            {{ form_end(searchObservationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="result-sidebar">
        <div class="contentSideBarResult">
            <div id="resultsCounter" class="d-flex justify-content-start">
                <p class="presSideBars">Details de la recherche : 0 resultat</p>
                <p id="closeResult" class="closeSideBar ml-auto close">&times;</p>
            </div>
            <div class="contentResult">
                <div class="table-responsive-vertical shadow-z-1">
                    <table id="resultsNoMaps" class="table table-hover table-mc-default">
                    </table>
                </div>
            </div>
            <div class="d-flex justify-content-start">
                <img class="ml-auto logoResultResearch" src="{{ asset('img/research_observations/logo-resultat-de-recherche.png') }}" alt="resultat">
            </div>
        </div>
    </div>

    <div id="map"></div>

    <div id="controls">
        <a class="btn btn-dark" id="triggerResearch">Recherche</a>
        <a class="btn btn-dark" id="triggerResult">Détails des résultats</a>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            if ($(window).width() < 992) {

                $('.research-sidebar').sidebar({side: "bottom"});

                $('.result-sidebar').sidebar({side: "bottom"});

                $('#closeResult').click(function() {
                    $(".result-sidebar").trigger("sidebar:close");
                });

                $('#closeResearch').click(function() {
                    $(".research-sidebar").trigger("sidebar:close");
                });

                $('#triggerResearch').click(function() {
                    $(".research-sidebar").trigger("sidebar:toggle");
                });

                $('#triggerResult').click(function() {
                    $(".result-sidebar").trigger("sidebar:toggle");
                });

            } else {

                $('.research-sidebar').sidebar();

                {% if app.session.get('nbResults') > 0 %}
                    $(".result-sidebar").sidebar().trigger('sidebar:open');
                {% else %}
                    $(".result-sidebar").sidebar();
                {% endif %}

                $('#closeResult').click(function() {
                    $(".result-sidebar").trigger("sidebar:close");
                });

                $('#closeResearch').click(function() {
                    $(".research-sidebar").trigger("sidebar:close");
                });

                $('#triggerResearch').click(function() {
                    $(".research-sidebar").trigger("sidebar:toggle");
                });

                $('#triggerResult').click(function() {
                    $(".result-sidebar").trigger("sidebar:toggle");
                });
            }
        });

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: new google.maps.LatLng(46.6, 1.9),
                mapTypeId: 'roadmap',
                zoomControl: 1,
                disableDefaultUI: true
            });

            var infoWindow = new google.maps.InfoWindow;

            map.controls[google.maps.ControlPosition.TOP_CENTER].push(document.getElementById('controls'));

            var icons = {
                bird: {
                    icon: '{{ asset('img/marqueur.png') }}'
                }
            };

            downloadUrl("{{ asset('markers/markers.xml') }}", function(data) {
                var xml = data.responseXML;
                var markers = xml.documentElement.getElementsByTagName('marker');
                var markerArray = [];
                var i= 0;
                var nest;
                Array.prototype.forEach.call(markers, function(markerElem) {
                    var user = markerElem.getAttribute('user');
                    var date = markerElem.getAttribute('date');
                    var referenceName = markerElem.getAttribute('reference');
                    var vernacularName = markerElem.getAttribute('vernacular');
                    var birdNumber = markerElem.getAttribute('birdNumber');
                    var eggsNumber = markerElem.getAttribute('eggsNumber');
                    var photo = markerElem.getAttribute('photo');
                    var type = markerElem.getAttribute('type');
                    var point = new google.maps.LatLng(
                        parseFloat(markerElem.getAttribute('lat')),
                        parseFloat(markerElem.getAttribute('lng')));

                    if (eggsNumber === '' || eggsNumber === 0) {
                        nest = 'Non';
                        eggsNumber = 'Aucun';
                    } else {
                        nest = 'Oui';
                    }

                    if(user !== null) {
                        // Transmission des resultats en dehors de la map
                        i++;
                        // Compteur de resultat
                        var counter = document.getElementById('resultsCounter');

                        if(i > 1) {
                            counter.innerHTML =
                                '<p>Détails de la recherche : '+ i +' résultats</p>'+
                                '<p id="closeResult" class="closeSideBar ml-auto close">&times;</i></p>';
                        } else {
                            counter.innerHTML =
                                '<p>Détails de la recherche : '+ i +' résultat</p>'+
                                '<p id="closeResult" class="closeSideBar ml-auto close">&times;</i></p>';
                        }

                        // Création de la liste des resultat
                        var table = document.getElementById('resultsNoMaps');
                        table.innerHTML +=
                            '<tr >\n' +
                            '<td data-title="Espèce observée"><img class="iconResults" src="{{ asset('img/research_observations/icon-maps-results.png')}}" alt="Icone de resultat"> '+ referenceName +'</td>\n' +
                            '<td data-title="Date d\'observation">'+ date +'</td>\n' +
                            '<td data-title="Aussi observée">+31</td>\n' +
                            '</tr>';
                    }

                    var infowincontent =
                        '<img src="../'+ photo +'" alt="'+ referenceName +'" style="margin-left: auto; margin-right: auto; height: 150px; border: 1px solid black;">' +
                        '<div style="padding: 10px;">\n' +
                        '<h5 style="margin-top: 0; text-align: center;">'+ referenceName +'</h5>' +
                        '<p style="color: black">Nom Commun : '+ vernacularName +'</p>' +
                        '<p style="color: black">Observée : '+ birdNumber +'</p>' +
                        '<p style="color: black">Nid(s) : '+ nest +'</p>' +
                        '<p style="color: black">Oeuf(s) : '+ eggsNumber +'</p>' +
                        '<p style="color: black">Observé par : '+ user +' le '+ date +'</p>' +
                        '</div>';

                    var icon = icons[type].icon || {};
                    var marker;
                    {% if not is_granted('ROLE_PROFESSIONAL') %}
                        marker = new google.maps.Circle({
                            strokeColor: '#FF0000',
                            strokeOpacity: 0.35,
                            strokeWeight: 2,
                            fillColor: '#FF0000',
                            fillOpacity: 0.35,
                            map: map,
                            center: point,
                            radius: 10000
                        });
                    {% else %}
                        marker = new google.maps.Marker({
                            map: map,
                            position: point,
                            icon: icon,
                            label: icon.label
                        });

                        markerArray.push(marker);

                        marker.addListener('click', function() {
                            infoWindow.setContent(infowincontent);
                            infoWindow.open(map, marker);
                        });


                    {% endif %}
                });
            });
        }

        function downloadUrl(url, callback) {
            var request = window.ActiveXObject ?
                new ActiveXObject('Microsoft.XMLHTTP') :
                new XMLHttpRequest;

            request.onreadystatechange = function() {
                if (request.readyState === 4) {
                    request.onreadystatechange = doNothing;
                    callback(request, request.status);
                }
            };

            request.open('GET', url, true);
            request.send(null);
        }

        function doNothing() {}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNQR3Hw_y1urMSouzdoaVgUESayHjM90g&&callback=initMap" async defer></script>
{% endblock %}
