{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/searchObservations.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header>
        <div class="jumbotron-searchObservation vertical-center">
            <div class="container">
                {#<h1>Avancée de la recherche</h1>#}
                {#<p>Devenez un scientifique citoyen en participant à l'observation des oiseaux</p>#}
            </div>
        </div>
        <div class="nao-header-align-left">
            <div class="nao-header">
                <p class="nao-header-size1">Nao</p>
                <p class="nao-header-size2">Nos Amis les Oiseaux</p>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    {% include ':default/searchObservations:fashbag.html.twig' %}
    <div class="container-fluid">
        <div class="research-sidebar">
            <div class="contentResearch">
                <div class="d-flex justify-content-start">
                    <p class="presSideBars">Recherche d'une observation</p>
                    <p id="closeResearch" class="closeSideBar ml-auto close"><img src="{{ asset('img/dashboard/btn-close.png') }}" alt="close"></p>
                </div>
                {% include ':default/searchObservations:searchObservationsForm.html.twig' %}
            </div>
        </div>
    </div>

    <div class="result-sidebar">
        <div class="contentSideBarResult">
            <div id="resultsCounter" class="d-flex justify-content-start">
                <p class="presSideBars">Details de la recherche : 0 resultat</p>
                <p id="closeResult" class="closeSideBar ml-auto close"><img src="{{ asset('img/dashboard/btn-close.png') }}" alt="close"></p>
            </div>
            <div class="contentResult">
                <div class="table-responsive-vertical shadow-z-1">
                    <table id="resultsNoMaps" class="table table-hover table-mc-default">
                    </table>
                </div>
            </div>
            <div class="d-flex justify-content-start">
                <img class="ml-auto logoResultResearch" src="{{ asset('img/research_observations/logo-resultat-de-recherche.png') }}" alt="resultat">
            </div>
        </div>
    </div>

    <div id="map"></div>
    <div id="controls">
        <a class="btn btn-dark" id="triggerResearch">Recherche</a>
        <a class="btn btn-dark" id="triggerResult">Détails des résultats</a>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            if ($(window).width() < 992) {

                $('.research-sidebar').sidebar({side: "bottom"});

                $('.result-sidebar').sidebar({side: "bottom"});

                $('#closeResult').click(function() {
                    $(".result-sidebar").trigger("sidebar:close");
                });

                $('#closeResearch').click(function() {
                    $(".research-sidebar").trigger("sidebar:close");
                });

                $('#triggerResearch').click(function() {
                    $(".research-sidebar").trigger("sidebar:toggle");
                });

                $('#triggerResult').click(function() {
                    $(".result-sidebar").trigger("sidebar:toggle");
                });

            } else {

                $('.research-sidebar').sidebar();

                {% if app.session.get('nbResults') > 0 %}
                    $(".result-sidebar").sidebar().trigger('sidebar:open');
                {% else %}
                    $(".result-sidebar").sidebar();
                {% endif %}

                $('#closeResult').click(function() {
                    $(".result-sidebar").trigger("sidebar:close");
                });

                $('#closeResearch').click(function() {
                    $(".research-sidebar").trigger("sidebar:close");
                });

                $('#triggerResearch').click(function() {
                    $(".research-sidebar").trigger("sidebar:toggle");
                });

                $('#triggerResult').click(function() {
                    $(".result-sidebar").trigger("sidebar:toggle");
                });
            }
        });

        var markerArray = [];

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: new google.maps.LatLng(46.6, 1.9),
                mapTypeId: 'roadmap',
                zoomControl: 1,
                disableDefaultUI: true
            });

            var infoWindow = new google.maps.InfoWindow;

            map.controls[google.maps.ControlPosition.TOP_CENTER].push(document.getElementById('controls'));

            var icons = {
                bird: {
                    icon: '{{ asset('img/marqueur.png') }}'
                }
            };
            var i = 0;
            var nest;
            var indexLoop = 0;
            var markers = [];
            {% if results is defined %}
                {% for observations in results %}
                    {% for observation in observations %}
                    var dataToPush = {
                        id: "{{ observation.id }}",
                        user: "{{ observation.observer.username }}",
                        date: "{{ observation.observationDate|date('d/m/Y à H:i') }}",
                        referenceName: "{{ observation.species.referenceName }}",
                        vernacularName: "{{ observation.species.vernacularName }}",
                        slug: "{{ observation.species.slug }}",
                        birdNumber: "{{ observation.birdNumber }}",
                        eggsNumber: "{{ observation.eggsNumber }}",
                        seeToo: "{{ observation.seeToo }}",
                        photo: "{{ observation.photoPath }}",
                        type: "bird",
                        position: new google.maps.LatLng(
                            parseFloat({{ observation.latitude }}),
                            parseFloat({{ observation.longitude }}))

                    };
                    markers.push(dataToPush);
                    {% endfor %}
                {% endfor %}
            {% endif %}
            markers.forEach(function (mark) {
                indexLoop++;
                var id = mark['id'];
                var user = mark['user'];
                var date = mark['date'];
                var referenceName = mark['referenceName'];
                var vernacularName = mark['vernacularName'];
                var slug = mark['slug'];
                var birdNumber = mark['birdNumber'];
                var eggsNumber = mark['eggsNumber'];
                var seeToo = mark['seeToo'];
                var photo = mark['photo'];
                var type = mark['type'];
                var point = mark['position'];

                if (seeToo !== '') {
                    seeToo = '+'+seeToo;
                }

                if (eggsNumber === '' || eggsNumber === 0) {
                    nest = 'Non';
                    eggsNumber = 'Aucun';
                } else {
                    nest = 'Oui';
                }

                var image;

                if (photo === '') {
                    image = '<img src="{{ asset('img/default/bird_default.png') }}" alt="'+ referenceName +'" ' +
                        'style="margin-left: 70px; height: 150px; padding: 25px; border-radius: 10px;' +
                        '-webkit-box-shadow: inset 8px 9px 29px -1px rgba(0,0,0,0.75);\n' +
                        '-moz-box-shadow: inset 8px 9px 29px -1px rgba(0,0,0,0.75);\n' +
                        'box-shadow: inset 8px 9px 29px -1px rgba(0,0,0,0.75);">';
                } else {
                    image = '<img src="../'+ photo +'" alt="'+ referenceName +'" ' +
                        'style="margin-left: 70px; height: 150px; padding: 25px; border-radius: 10px;' +
                        '-webkit-box-shadow: inset 8px 9px 29px -1px rgba(0,0,0,0.75);\n' +
                        '-moz-box-shadow: inset 8px 9px 29px -1px rgba(0,0,0,0.75);\n' +
                        'box-shadow: inset 8px 9px 29px -1px rgba(0,0,0,0.75);">';
                }

                var urlSlug = "{{ path('ficheEspece', {'slug': 'slug_species' }) }}";
                urlSlug = urlSlug.replace('slug_species', slug);

                var urlId = "{{ path('ajoutPlusUn', {'id': 'observation_id' }) }}";
                urlId = urlId.replace('observation_id', id);

                var baliseSeeToo;

                var arraySeeToo = '{{ seeToo|e('js') }}';
                arraySeeToo = JSON.parse(arraySeeToo);

                if (arraySeeToo.indexOf(id) !== -1) {
                    baliseSeeToo = ''
                } else {
                    baliseSeeToo = '<p style="color: black; text-align: right; margin-bottom: 0"><a class="addSeeToo" href="'+ urlId +'">Confirmer l\'observation <i class="fa fa-thumbs-up" aria-hidden="true"></i></a></p>'
                }

                if(user !== null) {
                    // Transmission des resultats en dehors de la map
                    i++;

                    // Compteur de resultat
                    var counter = document.getElementById('resultsCounter');

                    if(i > 1) {
                        counter.innerHTML =
                            '<p class="presSideBars">Détails de la recherche : '+ i +' résultats</p>'+
                            '<p id="closeResult" class="closeSideBar ml-auto close"><img src="{{ asset('img/dashboard/btn-close.png') }}" alt="close"></i></p>';
                        $('#closeResult').click(function() {
                            $(".result-sidebar").trigger("sidebar:close");
                        });
                    } else {
                        counter.innerHTML =
                            '<p class="presSideBars">Détails de la recherche : '+ i +' résultat</p>'+
                            '<p id="closeResult" class="closeSideBar ml-auto close"><img src="{{ asset('img/dashboard/btn-close.png') }}" alt="close"></i></p>';
                        $('#closeResult').click(function() {
                            $(".result-sidebar").trigger("sidebar:close");
                        });
                    }
                }

                var infowincontent =
                    image +
                    '<div style="padding: 10px;">\n' +
                    '<a href="'+ urlSlug +'"><h5 style="margin-top: 0; text-align: center;">'+ referenceName +'</h5></a>' +
                    '<p style="color: black">Nom Commun : '+ vernacularName +'</p>' +
                    '<p style="color: black">Nombre : '+ birdNumber +'</p>' +
                    '<p style="color: black">Nid(s) : '+ nest +'</p>' +
                    '<p style="color: black">Oeuf(s) : '+ eggsNumber +'</p>' +
                    '<p style="color: black">Observé par : '+ user +' le '+ date +'</p>' +
                    baliseSeeToo +
                    '</div>';

                var icon = icons[type].icon || {};
                var marker;

                var table = document.getElementById('resultsNoMaps');
                {% if not is_granted('ROLE_PROFESSIONAL') %}
                // Création de la liste des resultat

                table.innerHTML +=
                    '<tr>\n' +
                    '<td data-title="Espèce observée">' +
                    '<img class="iconResults" src="{{ asset('img/research_observations/icon-maps-results.png')}}" alt="Icone de resultat"><a href="'+ urlSlug +'"> '+ referenceName +'</a>' +
                    '</td>\n' +
                    '<td data-title="Date d\'observation">'+ date +'</td>\n' +
                    '<td data-title="Aussi observée">'+seeToo+'</td>\n' +
                    '</tr>';

                marker = new google.maps.Circle({
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.35,
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0.35,
                    map: map,
                    center: point,
                    radius: 10000
                });

                {% else %}
                // Création de la liste des resultat
                table.innerHTML +=
                    '<tr onclick="myClick('+indexLoop+')" >\n' +
                    '<td data-title="Espèce observée">' +
                    '<img class="iconResults" src="{{ asset('img/research_observations/icon-maps-results.png')}}" alt="Icone de resultat"><a href="'+ urlSlug +'"> '+ referenceName +'</a>' +
                    '</td>\n' +
                    '<td data-title="Date d\'observation">'+ date +'</td>\n' +
                    '<td data-title="Aussi observée">'+seeToo+'</td>\n' +
                    '</tr>';

                marker = new google.maps.Marker({
                    map: map,
                    position: point,
                    icon: icon,
                    label: icon.label
                });

                markerArray.push(marker);

                        marker.addListener('click', function() {
                            map.setCenter(marker.getPosition());
                            infoWindow.setContent(infowincontent);
                            infoWindow.open(map, marker);

                            // Ajout d'une confirmation d'une observation
                            if(arraySeeToo.indexOf(id) === -1) {
                                addSeeToo();
                            } else {
                                $('.addSeeToo').replaceWith('');
                            }
                        });

                {% endif %}



                // fonction permettant de traiter la suppression d'une question/réponse
                function addSeeToo() {
                    $('.addSeeToo').on('click', function(e) {
                        e.preventDefault();
                        var $a = $(this);
                        var url = $a.attr('href');
                        $.ajax({
                            type:'GET',
                            url: url,
                            success: function (data) {
                                if (arraySeeToo !== null) {
                                    $a.replaceWith('Votre confirmation a été ajoutée.');
                                    arraySeeToo = JSON.parse(data);
                                    if (arraySeeToo.indexOf(id) !== -1) {
                                        $a.replaceWith('')
                                    }
                                }
                            },
                            error: function (jqxhr) {
                            }
                        })
                    });
                }
            })

        }

        function myClick(id) {
            google.maps.event.trigger(markerArray[id -1], 'click');
            map.setCenter(marker.markerArray[id -1]);
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNQR3Hw_y1urMSouzdoaVgUESayHjM90g&&callback=initMap" async defer></script>
    <script src="{{ asset('js/menu.js') }}"></script>
{% endblock %}
