{% extends 'base_integration.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ficheEspece.css') }}">
{% endblock %}

{% block header %}
    <header>
        <div class="jumbotron-species vertical-center">
            <div class="container-fluid">
                <img src="{{ asset('img/fiche-espece/image-header.jpg') }}" alt="espece">
            </div>
        </div>
        <div class="nao-header-align-left">
            <div class="nao-header">
                <p class="nao-header-size1">Nao</p>
                <p class="nao-header-size2">Nos Amis les Oiseaux</p>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="contentSpeciesCard">
            <section>
                <h2 class="speciesTitle">{{ species.referenceName }}</h2>
                <div class="d-flex flex-row">
                        {% if photos != false  %}
                            <div id="carouselExampleIndicators" class="carousel slide contentCarousel" data-ride="carousel">
                                <ol class="carousel-indicators">
                            {% for photo in photos  %}
                                    <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index - 1}}" class="speciesCarouselIndicator"></li>
                            {% endfor %}
                                </ol>
                                <div class="speciesCarousel carousel-inner" role="listbox">
                            {% for photo in photos  %}
                                    <div class="carousel-item">
                                        <img class="d-block img-fluid carouselHeightControl" src="{{ asset(photo) }}" alt="{{ species.referenceName }}">
                                    </div>
                            {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="defaultBirdContent">
                                <img class="defaultBird" src="{{ asset('img/default/bird_default.png') }}" alt="Oiseau vectorisé">
                            </div>
                        {% endif %}
                    <div class="speciesInfo align-self-center">
                        <p>
                            <span class="underlineSpecies">Nom commun</span> :
                            {% if species.vernacularName == null %}
                                Non connu
                            {% else %}
                                {{ species.vernacularName }}
                            {% endif %}
                        </p>
                        <p><span class="underlineSpecies">Famille</span> : {{ species.family.name }}</p>
                        <p><span class="underlineSpecies">Ordre</span>: {{ species.type.name }}</p>
                    </div>
                </div>
            </section>
            <section id="addDescription">
                <div id="forUser">
                    <div class="d-flex justify-content-start">
                        <h5>Description poussée de l'espèce</h5>
                        {% if is_granted('ROLE_PROFESSIONAL') %}
                            <i id="modifyDescription" class="modifyDescription ml-auto fa fa-pencil-square-o" aria-hidden="true"></i>
                        {% endif %}
                    </div>
                    <div class="speciesDescription insetShadow">
                        {% if species.description == null %}
                            <p>Aucune description n'est disponible</p>
                        {% else %}
                            {{ species.description|purify }}
                        {% endif %}
                    </div>
                </div>
            </section>
            <section>
                <h5>Dernières observations</h5>
                <div class="speciesLastObservations insetShadow">
                    {% if species.observations is empty %}
                        <p>Aucune observation n'a encore été faite pour cette espèce</p>
                    {% else %}
                        {% for speciesObservation in species.observations %}
                            <p>{{ speciesObservation.birdNumber }} {{ speciesObservation.species.referenceName|lower }}

                                {% if speciesObservation.birdNumber > 1 %}
                                    ont été observés
                                {% else %}
                                    a observé le
                                {% endif %}

                                {{ speciesObservation.observationDate|date('d/m/Y à H:i')}} par {{ speciesObservation.observer.name }}.</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </section>
            <section>
                <h5>Période d'observation</h5>
                <div>
                    <div class="observationsPeriod insetShadow row">
                        <div class="periodContent mx-auto" >
                            <div class="row mx-auto">

                                {% for month in period %}
                                    {% if month == 0 %}
                                        <div class="text-center test">
                                            <p>{{ months[loop.index - 1] }}</p>
                                            <div class="emptyMonth" data-toggle="tooltip" data-placement="bottom" title="Aucune observations" ></div>
                                        </div>
                                    {% elseif month == 1 %}
                                        <div class="text-center test">
                                            <p>{{ months[loop.index - 1] }}</p>
                                            <div class="month" data-toggle="tooltip" data-placement="bottom" title="{{ month }} observation" ></div>
                                        </div>
                                    {% elseif month >= 2 %}
                                        <div class="text-center test">
                                            <p>{{ months[loop.index - 1] }}</p>
                                            <div class="month" data-toggle="tooltip" data-placement="bottom" title="{{ month }} observations" ></div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {

            {% if photos != false  %}
                $('.speciesCarousel div:first-child').addClass('active');
                $('.carousel-indicators li:first-child').addClass('active');
            {% endif %}

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });

            modifyDescription();
            function modifyDescription() {
                $('#modifyDescription').click(function () {
                    $('#forUser').hide();
                    $('#addDescription').append("{{ include('default/modifySpeciesDescription.html.twig')|e('js') }}");

                    tinymce.init({
                        selector: 'textarea.tinyMCE',
                        setup: function (editor) {
                            editor.on('change', function (e) {
                                editor.save();
                            });
                        }
                    });
                    $('#modifyDescription').off('click');
                    cancelDescription();
                });

            }

            function cancelDescription() {
                $('#cancelDescription').click(function () {
                    tinymce.remove();
                    $('#forPro').replaceWith('');
                    $('#forUser').show();
                    $('#cancelDescription').off('click');
                    modifyDescription();
                });
            }
        });
    </script>
{% endblock %}
