{% extends 'base.html.twig' %}


{% block body %}
<h2>Détail de l'observation</h2>

<div class="d-flex flex-row">
    <div class="d-inline-flex">
        <img style="width: 450px; height: 350px"
             src="{{ asset(observationDetailForm.vars.value.photoPath) }}"
             alt="{% if observationDetailForm.vars.value.species != null %}{{ observationDetailForm.vars.value.species.vernacularName }} {% else %}Espece inconnu{% endif %}">
    </div>

    {{ form_start(observationDetailForm) }}
    {{ form_errors(observationDetailForm) }}

    <div class="d-flex">
        <div style="margin-left: 15px">
            {{ form_label(observationDetailForm.species) }}
            {{ form_widget(observationDetailForm.species) }}
            <p style="margin-top: 15px;"> Nombre d'oiseaux </p>
            <p style="border: 1px solid lightgray; padding: 5px"> {{ observationDetailForm.vars.value.birdNumber}}</p>
            <p style="margin-top: 15px;"> Nombre d'oeufs </p>
            <p style="border: 1px solid lightgray; padding: 5px">
                {% if observationDetailForm.vars.value.eggsNumber != null %}{{ observationDetailForm.vars.value.eggsNumber }} {% else %}Aucun observé{% endif %}</p>
        </div>
    </div>
</div>

<div class="d-flex flex-row">
    <div class="d-flex" style="width: 100%">
        <div style="width: 100%">
            <p style="margin-top: 15px;">Description des oeufs</p>
            <p style="width: 100%; height: 150px; border: 1px solid lightgray; padding: 5px">
                {% if observationDetailForm.vars.value.eggsDescription != null %}
                {{ observationDetailForm.vars.value.eggsDescription }}
                {% else %}
                Aucune description
                {% endif %}
            </p>
        </div>
    </div>
</div>

<div style="height: 400px; margin-top: 15px" id="map"></div>
<div class="d-flex flex-row">
    <div style="width: 28%;">
        <p style="margin-top: 15px;">Latitude</p>
        <p style="border: 1px solid lightgray; padding: 5px"> {{ observationDetailForm.vars.value.latitude}}</p>

        <p style="margin-top: 15px;">Longitude</p>
        <p style="border: 1px solid lightgray; padding: 5px"> {{ observationDetailForm.vars.value.longitude}}</p>

        <p style="margin-top: 15px;">Altitude</p>
        <p style="border: 1px solid lightgray; padding: 5px"> {{ observationDetailForm.vars.value.altitude}}</p>
    </div>
    <div style="width: 70%; margin-left: 25px;">
        <p style="margin-top: 15px;"> Commentaire d'observation </p>
        <p style="border: 1px solid lightgray; padding: 5px; height: 240px;"> {{ observationDetailForm.vars.value.observationDescription}}</p>
    </div>
</div>

<div class="d-flex flex-row">
    <div class="d-flex" style="width: 100%">
        <div style="width: 100%;">
            {{ form_label(observationDetailForm.validation_comment) }}
            {{ form_widget(observationDetailForm.validation_comment) }}
        </div>
    </div>
</div>

<div class="d-flex flex-row" style="margin-top: 20px">

    <div class="mr-auto">
        {{ form_widget(observationDetailForm.Refuser) }}
    </div>
    <div class="ml-auto">
        {{ form_widget(observationDetailForm.Valider) }}
    </div>
</div>

{{ form_end(observationDetailForm) }}

{% endblock %}

{% block javascripts %}
    <script>
        function initMap() {
            var uluru = {lat: {{observationDetailForm.vars.value.latitude}}, lng: {{observationDetailForm.vars.value.longitude}}};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 9,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNQR3Hw_y1urMSouzdoaVgUESayHjM90g&&callback=initMap" async defer></script>
{% endblock %}
