{% if commentsFlagged|length != 0 %}
    <div class="table-responsive-vertical shadow-z-1">
        <table class="table table-hover table-mc-default">
            <thead>
            <tr>
                <th>Article</th>
                <th>Utilisateur</th>
                <th>Commentaire</th>
                <th>Date du commentaire</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for commentFlagged in commentsFlagged %}
                <tr>
                    <td data-title="Article">
                        {{ commentFlagged.post.title }}
                    </td>
                    <td data-title="Utilisateur">
                        {{ commentFlagged.author.username }}
                    </td>
                    <td data-title="Commentaire">
                        {{ commentFlagged.message|slice(0, 20) }}(...)
                    </td>
                    <td data-title="Date du commentaire">
                        {{ commentFlagged.date|date('d/m/Y à H:m') }}
                    </td>
                    <td class="action" data-title="Action">
                        <a href="{{ path('view-detail-flagged', {'id' : commentFlagged.id }) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a href="{{ path('advice_delete_comment', {'id' : commentFlagged.id }) }}"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    Aucun commentaire n'a été signalé.
{% endif %}
