{% if postsList|length != 0 %}
    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-hover table-mc-default">
            <thead>
            <tr>
                <th>Titre de l'article</th>
                <th>Publication</th>
                <th>Catégorie</th>
                <th>Commentaires</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for post in postsList %}
                <tr>
                    <td data-title="Titre de la catégorie">
                        {{ post.title }}
                    </td>
                    <td data-title="Date de publication">
                        {{ post.publishedDate|date("d/m/Y à H:i", "Europe/Paris") }}
                    </td>
                    <td data-title="Catégorie">
                        {{ post.category.name }}
                    </td>
                    <td data-title="Commentaires">
                        {{ post.comments|length }}
                    </td>

                    <td data-title="Action" class="action">
                        <a href="{{path('edit_post', {'slug' : post.slug }) }}" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a href="{{path('advice_delete_post', {'slug' : post.slug }) }}"><i class="fa fa-times" aria-hidden="true"></i><br/></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    Aucun article n'a encore été publié.
{% endif %}
