{% extends 'base.html.twig' %}

{% block body %}
    Article : {{ commentFlagged.post.title }}<br/><br/>
    Nombre de signalement recu : {{ commentFlagged.flagged }}<br/><br/>
    Commentaire signalé : {{ commentFlagged.message }}<br/><br/>
    {% if commentFlagged.parent != null %}
        En réponse à  : {{ commentFlagged.parent.message }}<br/><br/>
    {% endif %}
    <a href="{{ path('comment_approuved', {'id': commentFlagged.id }) }}">Approuver</a> / <a href="{{ path('comment_delete', {'id': commentFlagged.id}) }}"> Supprimer le commentaire</a>
{% endblock %}
