{{ form_start(createPostForm) }}
{{ form_errors(createPostForm) }}

{{ form_label(createPostForm.title) }}<br/>
{{ form_widget(createPostForm.title) }}<br/>

{{ form_label(createPostForm.category) }}<br/>
{{ form_widget(createPostForm.category) }}<br/>

<p>Vous n'avez pas de catégorie, <button class="btn btn-primary" data-toggle="modal" data-target="#quickCategory">Créez en une</button></p>


{{ form_label(createPostForm.imagePath) }}<br/>
{{ form_widget(createPostForm.imagePath) }}<br/>

{{ form_label(createPostForm.content) }}<br/>
{{ form_widget(createPostForm.content, {'attr': {'class': 'tinyMCE'}}) }}<br/>
{{ form_widget(createPostForm.save) }}<br/>
{{ form_end(createPostForm) }}

<!-- Modal -->
<div class="modal fade" id="quickCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Créez votre catégorie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(createCategoryQuickly) }}
                {{ form_errors(createCategoryQuickly) }}
                {{ form_label(createCategoryQuickly.name) }}<br/>
                {{ form_widget(createCategoryQuickly.name) }}<br/>
            </div>
            <div class="modal-footer">
                {{ form_widget(createCategoryQuickly.save) }}<br/>
                {{ form_end(createCategoryQuickly) }}
            </div>
        </div>
    </div>
</div>