<!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{{ path("homepage") }}">Nos Amis les Oiseaux</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path("homepage") }}">Accueil</a>
                        </li>
                        {% if not is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ path("login") }}">connexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <div class="btn-group">
                                    <a class="nav-link js-scroll-trigger" href="{{ path("dashboard") }}">Dashboard</a>
                                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path("blog") }}">Blog</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Observations
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path("rechercheObservations") }}">Recherche d'observations</a>
                                <a class="dropdown-item" href="{{ path("saisieObservation") }}">Saisir une observation</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path("avanceeRecherche") }}">La recherche</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("homepage") }}"><img src="{{ asset('img/logo-pour-nav.png') }}" /></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-target">
            <ul class="nav navbar-nav navbar-right">
                {% if not is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path("login") }}">connexion</a>
                    </li>
                {% else %}

                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <li class="{% if adminMenu is defined %}active{% endif %}"><a href="{{ path('admin') }}"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> Bienvenue, {{ app.user.username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('logout') }}">Deconnexion</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> Connectez-vous <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('login') }}">Connexion</a></li>
                            <li><a href="{{ path('registration') }}">Inscription</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div><!-- /.container -->
</nav>