<hr>
Commentaires <br/>
<hr>

{# Si l'utlisateur est connecté on affiche le bouton de commentaire #}
{% if is_granted('ROLE_USER') %}
    Vous êtes connecté en tant que : {{ app.user.username }}
    <div id="formComm">
        <a id="createComm" href="{{ path('create-comm', { 'slugPost' : post.slug }) }}" class="btn btn-primary">commenter</a>
    </div>
{% else %}
    {# Sinon on l'invite à se connecter #}
    <p>Pour rédiger un message, veuillez vous <a href="{{ path('login') }}">connecter</a></p>
{% endif %}
<hr>
<div id="comment">
    {# on parcourt les commentaires pour les afficher #}
    {% for comment in post.comments %}
        {# si le commentaire n'a pas de parent, on l'affiche #}
        {% if  comment.parent == null %}

            <div>
                <p>{{ comment.author.username }} -- {{ comment.date|date("d/m/Y à H:i", "Europe/Paris") }}</p>
                <p>{{ comment.message }}</p>
            </div>
            <hr>
            <div>
                {# on parcourt les commentaires enfant pour les afficher #}
                {% for child in comment.children %}
                    <div class="child-div" style="padding-left: 20px;">
                        <p>{{ child.author.username }} -- {{ child.date|date("d/m/Y à H:i", "Europe/Paris") }}</p>
                        <p>{{ child.message }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
            {# Si l'utlisateur est connecté on affiche les bouton répondre #}
            {% if is_granted('ROLE_USER') %}
                <div>
                    <a class="btn btn-primary btn-reply" href="{{ path('reply-com', { 'slugPost' : post.slug, 'parentId': comment.id}) }}">Répondre</a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
