{% extends 'default/blog.html.twig' %}

{% block header %}
    <header>
        <div class="jumbotron-category vertical-center">
            <div class="container-fluid">
                <img src="{{ asset(category.photoPath) }}" alt="{{ category.name }}">
            </div>
        </div>
        <div class="nao-header-align-left">
            <div class="nao-header">
                <p class="nao-header-size1">Nao</p>
                <p class="nao-header-size2">Nos Amis les Oiseaux</p>
            </div>
        </div>
    </header>
{% endblock %}

{% block contentBlog %}
    <h3>Categorie : {{ category.name }}</h3>
    <div class="container">
        <section class="posts">
            {% for post in paginationPostsCategory %}
                <h4>{{ post.title }}</h4>
                <div class="posts-infos">
                    <p><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ post.publishedDate|date("d/m/Y à h:i", "Europe/Paris") }}</p>
                    <p><i class="fa fa-user" aria-hidden="true"></i> {{ post.author.username }}</p>
                    <p><i class="fa fa-tag" aria-hidden="true"></i> {{ post.category.name}}</p>
                    <p><i class="fa fa-comments" aria-hidden="true"></i> {{ post.comments|length }}</p>
                </div>

                <p>{{ post.content|slice(0, 800)|purify }}{% if post.content|length > 800 %}...{% endif %}</p>

                <a href="{{ path('view-post', {'slugCat' : post.category.slug ,'slugPost' : post.slug }) }}"><button type="button" class="btn btn-primary">Lire la suite</button></a>
            {% endfor %}
            {# div englobant le paginator et contenant la route à prendre pour la requete Ajax de pagination#}
            <div id="paginationPostsCategory" url="{{ path('pagination_postsCategory') }}" class="row">
                {# display navigation #}
                <div class="navigation mx-auto">
                    {{ knp_pagination_render(paginationPostsCategory) }}
                </div>
            </div>
        </section>

        <section class="rightMenu">
            {% include "default/blog/rightMenuBlog.html.twig" %}
        </section>
    </div>

{% endblock %}