{% extends 'default/blog.html.twig' %}

{% block contentBlog %}
    <h3>accueil</h3>
    <br/><br/>

    {% for post in posts %}
        <h4>{{ post.title }}</h4><br/>
        <i class="fa fa-calendar-o" aria-hidden="true"></i> {{ post.publishedDate|date("d/m/Y à H:i", "Europe/Paris") }}
        <i class="fa fa-user" aria-hidden="true"></i> {{ post.author.username }}
        <i class="fa fa-tag" aria-hidden="true"></i> {{ post.category.name}}
        <i class="fa fa-comments" aria-hidden="true"></i> {{ post.comments|length }}<br/><br/>

        {{ post.content|slice(0, 140) }}... <br/><br/>

        <a href="{{ path('view-post', {'slugCat' : post.category.slug ,'slugPost' : post.slug }) }}"><button type="button" class="btn btn-primary">Lire la suite</button></a> <br/><br/>
    {% endfor %}

    {% include "default/blog/rightMenuBlog.html.twig" %}

{% endblock %}