<div id="flashMsgContactUs">

</div>
<div>
    {{ form_start(contactForm) }}
    <p>
        {{ form_widget(contactForm.sujet) }}
        {{ form_errors(contactForm.sujet) }}
    </p>
    <p>
        {{ form_widget(contactForm.message) }}
        {{ form_errors(contactForm.message) }}
    </p>
    <p>
        {{ form_widget(contactForm.save, {'label': 'Envoyer', 'attr': {'class': 'btn btn-contact-us', 'url': path('contact_us')}}) }}
    </p>
    {{ form_end(contactForm) }}
</div>
