<div id="contactUs">
    <div class="input">
        {{ form_start(contactForm) }}
        {# Les erreurs générales du formulaire. #}
        {{ form_errors(contactForm) }}

        <div class="sujet">
        {{ form_row(contactForm.sujet) }}<br/>
        </div>

        <div class="message">
        {{ form_row(contactForm.message) }}<br/>
        </div>

        <div class="submit">
        {{ form_widget(contactForm.save, {'label': 'Envoyer' }) }}
        </div>

        {{ form_rest(contactForm) }}

        {{ form_end(contactForm) }}
    </div>
</div>


