<div id="flashMsgAccount"></div>
<div class="row justify-content-sm-center">
    <h6 class="col-sm-8 text-left">Vos informations personnelles :</h6>
</div>
{# Nom de l'utilisateur #}
<div class="well">
    {{ form_start(updateUserNameForm, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(updateUserNameForm) }}

    <div class="form-group row justify-content-sm-center">
        <div class="col-sm-6">
            {{ form_widget(updateUserNameForm.name) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(updateUserNameForm.save, {'label': 'Modifier', 'attr': {'class': 'btn btn-primary btn-user-update-name', 'url': path('edit_user_name')}}) }}
        </div>
    </div>
    {{ form_end(updateUserNameForm) }}
</div>

{# prénom de l'utilisateur #}
<div class="well">
    {{ form_start(updateUserFirstNameForm, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(updateUserFirstNameForm) }}

    <div class="form-group row justify-content-sm-center">
        <div class="col-sm-6">
            {{ form_widget(updateUserFirstNameForm.firstname) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(updateUserFirstNameForm.save, {'label': 'Modifier', 'attr': {'class': 'btn btn-primary btn-user-update-firstname', 'url': path('edit_user_firstname')}}) }}
        </div>
    </div>

    {{ form_end(updateUserFirstNameForm) }}
</div>

{# Adresse de l'utilisateur #}
<div class="well">
    {{ form_start(updateUserLocationForm, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(updateUserLocationForm) }}

    <div class="form-group row justify-content-sm-center">
        <div class="col-sm-6">
            {{ form_widget(updateUserLocationForm.location, {'attr': {'placeholder': 'Code postal'}}) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(updateUserLocationForm.save, {'label': 'Modifier',
                'attr': {'class': 'btn btn-primary btn-user-update-location',
                    'url': path('edit_user_location'),
                    'placeholder': 'Code postal'}}) }}
        </div>
    </div>

    {{ form_end(updateUserLocationForm) }}
</div>

{# Inscription à la newsletter #}
<div class="well">
    {{ form_start(updateUserNewsletterForm, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(updateUserNewsletterForm) }}

    <div class="form-group row justify-content-sm-center">
        {#<div class="col-sm-3" style="display: inline">#}
            {#{{ form_label(updateUserNewsletterForm.newsletter) }}#}
        {#</div>#}
        <div class="col-sm-6" >
            {{ form_widget(updateUserNewsletterForm.newsletter) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(updateUserNewsletterForm.save, {'label': 'Modifier', 'attr': {'class': 'btn btn-primary btn-user-update-newsletter', 'url': path('edit_user_newsletter')}}) }}
        </div>
    </div>

    {{ form_end(updateUserNewsletterForm) }}
</div>

<h6>Votre mot de passe</h6>
<div class="well">
    {{ form_start(updateUserPasswordForm, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(updateUserPasswordForm) }}


    <div class="form-group row justify-content-sm-center">
        <div class="col-sm-8 row">
            {{ form_widget(updateUserPasswordForm.password, { 'attr': {'placeholder': 'Mot de passe actuel'}}) }}
        </div>
        <div class="col-sm-8 row">
            {{ form_widget(updateUserPasswordForm.newPassword.first, { 'attr': {'placeholder': 'Nouveau mot de passe'}}) }}
        </div>
        <div class="col-sm-8 row">
            {{ form_widget(updateUserPasswordForm.newPassword.second, { 'attr': {'placeholder': 'Confirmez le mot de passe'}}) }}
        </div>
        <div class="col-sm-12 row">
            {{ form_widget(updateUserPasswordForm.save, {'attr': {'class': 'btn btn-primary mx-auto  btn-user-update-password', 'url': path('edit_user_password')}}) }}
        </div>
    </div>

    {{ form_end(updateUserPasswordForm) }}
</div>
