{% if app.user.observations|length != 0 %}
<div class="table-responsive-vertical shadow-z-1">
    <table class="table table-hover table-mc-default">
        <thead>
        <tr>
            <th>Espèces observées</th>
            <th>Date d'observation</th>
            <th>Statut</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            {% for observation in app.user.observations %}
                <tr>
                    <td data-title="Espèces observées">
                        {% if observation.species != null %}
                            {{ observation.species.referenceName }}
                        {% else %}
                            Espèce inconnu
                        {% endif %}
                    </td>
                    <td data-title="Date d'observation">
                        {{ observation.observationDate|date('d/m/Y') }}
                    </td>
                    <td data-title="Statut">
                        {% if observation.validate is same as(true) %}
                            <a href="" style="color: green" data-toggle="modal" data-target="#statusDetail{{ loop.index }}"><i  class="fa fa-check" aria-hidden="true"></i> Validée</a>

                            <div class="modal fade" id="statusDetail{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Détail du statut</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% if observation.validationComment != null %}
                                                <p>Commentaire du validateur :</p>
                                                <p>{{ observation.validationComment }}</p>
                                            {% else %}
                                                <p>Le validateur n'a laissé aucun commentaire.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elseif observation.validate is same as(false) %}
                            <a href="" style="color: red" data-toggle="modal" data-target="#statusDetail{{ loop.index }}"><i class="fa fa-times" aria-hidden="true"></i> Refusée</a>

                            <div class="modal fade" id="statusDetail{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Détail du statut</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% if observation.validationComment != null %}
                                                <p>Commentaire du validateur :</p>
                                                <p>{{ observation.validationComment }}</p>
                                            {% else %}
                                                <p>Le validateur n'a laissé aucun commentaire.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elseif observation.validate is same as(null) %}
                            <a href="" data-toggle="modal" data-target="#statusDetail{{ loop.index }}"><i class="fa fa-coffee" aria-hidden="true"></i> En attente</a>

                            <div class="modal fade" id="statusDetail{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Détail du statut</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Votre observation n'a pas encore été traitée, veuillez patienter.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                    {% if observation.editObservation is same as(null) %}
                        <td data-title="Action"><a href="{{path('modify-observation', {'id': observation.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                    {% else %}
                        <td data-title="Action">Aucune action possible</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    Vous n'avez réalisé aucune observation pour le moment.
{% endif %}
