{% extends 'base.html.twig' %}

{% block body %}
    <div class="well">
        {{ form_start(updateFirstNameForm, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(updateFirstNameForm) }}

        {# Génération du label + error + widget pour un champ. #}
        <div class="form-group">
            {{ form_row(updateFirstNameForm.firstname) }}
            {{ form_widget(updateFirstNameForm.save, {'label': 'Modifier', 'attr': {'class': 'btn btn-primary'}}) }}
        </div>
        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
           et tous les champs cachés (type « hidden »). #}
        {{ form_rest(updateFirstNameForm) }}
        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(updateFirstNameForm) }}
    </div>
{% endblock %}